@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 900;
  src: local('Merriweather Black'), local('Merriweather-Black'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l52_wFZWMf6.woff2) format('woff2');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 300;
  src: local('Merriweather Light'), local('Merriweather-Light'), url(https://fonts.gstatic.com/s/merriweather/v21/u-4n0qyriQwlOrhSvowK_l521wRZWMf6.woff2) format('woff2');
}

body {
    max-width: 45rem;
    margin: auto;
    font-size: 100%;
    line-height: 1.5;
    margin: 3rem auto;
    padding: 0 2rem;
    color: #222233;
    background: #fcfcfc;
    font-family: "Merriweather";
}

h3 {
    font-size: 1.3em;
    font-variant: small-caps;
}

p {
    hyphens: auto;
}

a {
    color: #222233;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 1;
}

#header #title {
    font-weight: bold;
    align-self: flex-end;
}

#header #links img {
    height: 1.5em;
}

#title a {
    text-decoration: none;
}
